%section#home
  .section-content
    %article
      %header.u-textCenter
        %h1#home-title A Crash Course in Insight&nbsp;Meditation
        %h2 
          %a#home-next.nav-next{:href => "#"} Let's begin.


  %aside.turtle.container
    %img.turtle__image{:src => "images/turtle.jpg", :alt => ""}/ 
    %div.quote#home-quote
      :markdown
        Hi! I'm Sebastian, the meditating turtle. I'm gonna drop some knowledge on you.

= partial "meditation"
= partial "warning"
= partial "reminder"
= partial "vipassana"
= partial "buddhism"
= partial "noting"
= partial "noting-video"
= partial "four-foundations-of-mindfulness"
= partial "body-sensations"
= partial "feeling-tone"
= partial "mind-states"
= partial "thoughts"
= partial "social-noting"
= partial "noting-off-the-cushion"
= partial "the-meditation-habit"
= partial "working-with-a-teacher"
= partial "resources"
= partial "about-this-site"



