= partial "home" # orange

= partial "meditation" # red
= partial "warning"
= partial "reminder"

= partial "vipassana" # magenta
= partial "buddhism"

= partial "noting" # violet
= partial "noting-video"

= partial "four-foundations-of-mindfulness" # blue
= partial "body-sensations"
= partial "feeling-tone"
= partial "mind-states"
= partial "thoughts"

= partial "social-noting" # cyan
= partial "noting-off-the-cushion"

= partial "the-meditation-habit" # green
= partial "working-with-a-teacher"

= partial "resources" # yellow

= partial "about-this-site" # orange



